body {
    margin: 0;
    background-color: rgb(255, 136, 0);
    padding: 1rem 0;
    position: relative;    
}

body::before,
body::after {
    content: '';
    position: fixed;
    top: 0;
    width: 160px;
    height: 100%;
    background:rgb(0, 255, 72);
    z-index: -1;    
}

body::before {
    left: 0;
    clip-path: polygon(0 0, 85% 0, 85% 5%, 100% 10%, 85% 15%, 100% 20%, 85% 25%, 100% 30%, 85% 35%, 100% 40%, 85% 45%, 100% 50%, 85% 55%, 100% 60%, 85% 65%, 100% 70%, 85% 75%, 100% 80%, 85% 85%, 100% 90%, 85% 95%, 85% 100%, 0 100%);
}

body::after {
    right: 0;
    clip-path: polygon(15% 0, 15% 5%, 0 10%, 15% 15%, 0 20%, 15% 25%, 0 30%, 15% 35%, 0% 40%, 15% 45%, 0 50%, 15% 55%, 0 60%, 15% 65%, 0 70%, 15% 75%, 0 80%, 15% 85%, 0 90%, 15% 95%, 15% 100%, 100% 100%, 100% 0%);
}

#app {
    text-align: center;
    
    

}

p {
    font-family: "Iosevka Charon", monospace;
    font-weight: 500;
    font-size: larger;
    
}

.loading-text {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
#explanation {
    width: 70%;       /* Works with any width value (px, %, rem, max-width) */
    margin-left: auto;
    margin-right: auto; /* Shorthand: margin: 0 auto; */
    line-height: 30px;
}



h1 {
    text-decoration: underline;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: italic;
    }

/* Styling the DOB entering form */
